<!--
  Generated template for the InfoTaskMapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Templates of {{task.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid fixed>
      <ion-buttons right>
          <button  ion-button icon-only><!-- or your method, this is for closing a modal -->
              <ion-icon name="ios-add"></ion-icon>
          </button>
      </ion-buttons>
    </ion-grid>
    <ion-grid fixed>
      <ion-list>	
        <ion-item *ngFor="let template of templates" (click)="selectTemplate($event, template)">
          <div class="inline">
            <h2><b>{{template.name}}</b></h2>
            <p *ngFor="let field of getFields(template)">
              {{field}} : {{getValue(template, field)}}
            </p>
          </div>
        </ion-item>		
      </ion-list>
    </ion-grid>
  </ion-content>
